
body {
    background-color: linen;
}

h1 {
    color: navy;
    text-align: center;
}
h2{
    background-color: lightblue;
    color:maroon;

}
.bold {
    font-weight: bold;
}
p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
